
  <div class="top-msg-ins">
    <img [src]= "verify_url" alt="text" class="verify-img" style="width: 15%;float: left;">
    <h5><strong>Verify your identity</strong></h5>
    <p>Please upload a selfie and provide personal details for KYC verification</p>
  </div>

  <div class="selfie-section">
    <h6><strong>Take a selfie</strong></h6>
    <p>Make sure your whole face is visible without <br> any
      glare or blur
    </p>
    <div style="text-align: center;">
      <img [src]="selfie_url" class="selfie-img" alt="" style="width: 80%;">

    </div>
    <div class="click-photo-btn">
      <button type="button" class="btn btn-success">Click Photo</button>

    </div>
  </div>

