<div class="top-msg-ins">
  <img [src]= "verify_url" alt="text" class="verify-img" style="width: 15%;float: left;">
  <h5><strong>Verify your identity</strong></h5>
  <p>Please upload a Government ID for KYC verification</p>
</div>

<div class="selfie-section">
  <h6><strong>Select a Government ID</strong></h6>

  <div class="id-options scroll">
    <button type = "button" class="btn btn-outline-success btn-id-type"> Aadhaar</button>
    <button type = "button" class="btn btn-outline-success btn-id-type"> PAN</button>
    <button type = "button" class="btn btn-outline-success btn-id-type"> Driving Licence</button>
    <button type = "button" class="btn btn-outline-success btn-id-type"> Passport</button>
    <button type = "button" class="btn btn-outline-success btn-id-type"> Voter ID</button>
  </div>

  <p>Front of Aadhaar</p>
  <p>Your name and photo should be clearly visible</p>

  <div style="text-align: center;">
    <img src="assets/images/aadhaar-front.png" alt="" class="id-img">
  </div>

  <div class="click-photo-btn">
    <button type="button" class="btn btn-success">Click Photo</button>

  </div>

</div>

<div>
  <img src="assets/images/lock.png" alt="" class="lock-icon">

  <p id="secure-p">Your ID or photo will be used only for KYC <br>purpose</p>
</div>

<div style= "text-align: center;">
  <button type="button" class="btn btn-success save-btn" [disabled] = "true" style="width: 95%;">Save & Continue</button>
</div>


