<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card" >
        <div class="card-header">
          <a><img src="../../shared/id.png"></a>
          <h5><strong>Hi! Help us set up your account</strong></h5>
          <p>We'll verify it with your KYC documents</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 customer-form">

    <form >
      <div class="form-group">
        <label for="fullname">Your full name</label>
        <input type="text" class="form-control" id = "fullname" placeholder="eg: Raj Kumar Babu">
        <small class="form-text text-muted">Ensure it matches name on your PAN</small>
      </div>

      <div class="form-group">
        <label for="date">Your date of birth</label>
        <input type="text" class="form-control" id = "date" placeholder="DD/MM/YYYY">
      </div>

      <div class="form-group">
        <label for="gender">Your gender</label>
        <div class="row">
          <div class="col-4 btn-gender">
            <button type="button" class="btn btn-gen2">Male</button>
          </div>

          <div class="col-4 btn-gender">
            <button type="button" class="btn btn-gen2">Female</button>
          </div>

          <div class="col-4 btn-gender">
            <button type="button" class="btn btn-gen2">Other</button>
          </div>

        </div>
      </div>


    </form>
  </div>
  </div>

  <div class="row" >
    <div class="col-12 btn-continue">

      <button type = "button" class="btn btn-success">Continue</button>

    </div>
  </div>
</div>


